body {
  margin: 0;
}

/* SIDEBAR STYLING */
.navbar {
  position: fixed;
  padding-top: 80px;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
  display: inline-block;

}

  h1 {
  font-family: 'Advent Pro', sans-serif;
  color: black;
  padding: 10px 35px;
  font-size: 2rem;
  font-weight: 600;
}
 h3{
   font-family: 'Advent Pro', sans-serif;
   color: black;
   font-size: 1.5rem;
   font-weight: 400;
   padding-top: 5rem;

   text-align: center;
 }

 h2{
   font-family: 'Advent Pro', sans-serif;
   color: black;
   font-size: 1rem;
   font-weight: 200;
   padding-top: 2rem;


   text-align: center;
 }
.nav-item {
  position: relative;
  padding: 5px 35px;
  text-decoration: none;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 200;
  font-size: 17px;
}

.nav-item-ru{
  position: relative;
  padding: 9px 35px;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  font-weight: 100;
  font-size: 12px;
  transform: scaleY(1.3);
}

.contact{
  text-decoration: underline;
  font-weight: 400;
  color: black;
}

.navbar-nav{
position: relative;
display: block;
margin-left: 0 !important;
}


.navigation:hover {
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.links {
  display: flex;
  padding: 2.6rem 0 0 2rem;
  position: inherit;
  margin-right: 25px;
  color: black;
}
.lang{
  font-family: 'Advent Pro', sans-serif;
  display: flex;
  padding: 5px 35px;
  position: inherit;
  margin-right: 25px;
  color: black;
  font-weight: 600;
}

.fa-instagram:hover {
  color: black;
}

.fa-facebook-square {
  padding-left: 10px;
}

.fa-facebook-square:hover {
  color: black;
}

#langEn{
  padding-left: 10px;
}
a{
  color: #43464b
}
a:visited {
  color: #43464b;
}

.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 250px;
}

.video-heading{
  position: fixed;
  height: 90%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
padding-right: 250px;
}

.video-heading h1{
  color: white;
  font-size: 5rem;
}


#myVideo {
  width: inherit;
  height: inherit;
}

.logo:hover {
  text-decoration: none;
}

footer{

  position: relative;
  height: 5em;
}
.footer{
  display: flex;
  padding: 1rem 0 0 2rem;
  position: inherit;
  margin-right: 25px;
  color: #43464b;
  font-size: 0.6rem;
}
/*SMARTPHONE*/
@media (max-width: 768px) {
  .navbar {
    position: relative;
    width: 100%;
    display:inline-block;
    padding-top: 0;
    height: 100px;
    padding: 0;
  }



.navbar-toggler{
position: relative;
margin-left: 75%;
margin-top: 2rem;
border: 0;
font-size: 1.7rem;


}



.navbar-toggler-icon{
background-color: white;
}


button:focus{
  border: none;
  outline:none;
}

.navbar-collapse{
  background-color: white;
  width: 100%;
position: relative;
display: inline-block;



}
.navbar-nav{
position: relative;
margin-top: 10%;


}

  .videoBackground {
    margin-left: 0;
    transform: translateX(-35%);
  }

.video-heading{
  margin: 0;
  padding: 0;
}
.video-heading h1{
  font-size: 3rem;
}

  .links {
    display: flex;
    padding: 2.6rem 0 0 2rem;
    position: inherit;
    margin-right: 25px;
  }

  h1 {
    font-size: 1.5rem;
    padding-top: 20px;
  position: absolute;
  }

  .container-fluid {
    margin-left: 0 !important;
  }
}
/*video*/
.container-video{
  position: relative;


width: inherit;

  margin-top: 80px;
  margin-right: 120px;

}

.video-grid{
  display: inline-block;
  margin:0;
  overflow: hidden;
}
iframe{
  position: relative;
    width: 680px;

}

/*Gallery*/
.container-fluid {
  margin-left: 250px;
  width: auto;
}

.container-gallery {
  position: relative;
  column-count: 3;
  padding: 5px;
  margin: auto;
  width: inherit;
  margin-top: 80px;
  margin-right: 120px;
  gap: 5px;
}

.thumbnail {
  display: inline-block;
  margin:0;
  overflow: hidden;
}

img {
  width: 100%;
  transition: 0.25s ease-in-out;
}

.thumbnail:hover img{
  transform: scale(1.1);
}

/*contact page*/
.row{

  margin-left: 250px;
  margin-right: 250px;
}


.myPhoto{
width: 400px;
margin-right: 300px;
  position: absolute;
  margin-left: 5%;
  border-radius: 5rem;
}

.container-contact {
  border-radius: 5px;

  padding-left: 5%;

  margin-top: 50px;

}



hr{
border-top: 1px solid Gray;
margin-top:12%;
position: inherit;

}

@media (max-width: 1200px) {
  .container-gallery {
    max-width: 2000px;
    margin-right: 10%;

  }
  .container-video{
    margin-right: 10%
  }
  .myPhoto{
margin-right: 0;
margin-left: 0;
    position: inherit;
  }
  .col-lg-6{
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  max-width: inherit;
  }
  h3{

    text-align: center;
    position: inherit;
    padding-left: 0 ;
    padding-bottom: 2rem;
    padding-top: 0;
  }
  h2{
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 2rem;
    text-align: center;
    position: inherit;

  }
  .row{
    margin-top: 20px;
    column-count: 1;
    margin-right: 0;
    margin-left: 0;
    display: inherit;
  }

  .container-contact{
    margin-left: 250px;
    margin-right: 0;
    position: inherit;
    padding:0 15% 0 15%;
  }
  #contactMe{
    padding-top: 7%;
padding-bottom: 0;
  }

  .hr{
    margin-left: 250px;
  }

}



@media (max-width: 992px) {
  .container-gallery {
    column-count: 2;
    margin-right: 10%;
    margin-top: 80px;
  }
  .container-video{
    margin-right: 6%
  }
  iframe{
    position: relative;
      width: 100%;
  }
  .myPhoto{
margin-right: 0;
    position: inherit;
    padding-left: 0;
    margin-left: 0;
    width: inherit;


  }
  .col-lg-6{
  text-align: center;
  margin-right: 0;
  }
  h3{
    text-align: center;
    position: inherit;
    padding-left: 0;
    padding-top: 0;
  }
  .row{
    margin-right: 0;
    display: inherit;
  }
  h2{
    padding-right: 5%;
    padding-left: 5%;
  }

  .container-contact{
    margin-left: 250px;
    margin-right: 0;
    position: inherit;
    padding:0 15% 0 15%;
  }
  #contactMe{
    padding-top: 7%;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .container-gallery {
    column-count: 2;
  max-width: 768px;
    margin-right: 0;
    margin-top: 0;
  }
  .row{

  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}
.col-lg-6{
text-align: center;
margin-left: 0;
}
.myPhoto{
  margin-right: 0;
  position: inherit;
  width:inherit;
  margin-left: 0;
  }

  .container-video{
    margin-right: 0;
  }
  iframe{
    position: relative;
      width: 100%;
      height: 270px;
  }
  .container-video{
    margin: 0;
  }
  h3{
  padding: 5% 0 3% 0;
    font-size: 1.5rem;
    text-align: center;
  }
  .container-contact{
    margin: 0;
    position: inherit;
    padding: 5%;
  }
  .hr{
    margin-left: 0;
  }
  #contactMe{
    padding-top: 7%;
    padding-bottom: 0;
  }

  .fa-7x{
    width:inherit;
  }
}

/*contact form/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color:#ccc;
}
label{
  font-family: 'Advent Pro', sans-serif;
}
/* Add a background color and some padding around the form */
.socialIcons{
  text-align: center;
  position: inherit;
  padding: 7% 5% 5% 5%;
}

.fa-6x:hover{
  color: black;
}

.fa-6x{
  padding: 0% 2% 2% 2%;
}
